{% extends '_layout.html' %}


{% block title %}Enterprise. Secute mobile application management.{% endblock %}
{% block meta_description %}Enterprise mobile application management. Driving digitalisation for mobile workforces.
{% endblock %}
{% block meta_copydoc %}https://docs.google.com/document/d/1YMfnGmUWZqs89uVyREdH9BzkHasp4b3RDV0FzS75K3I/edit#{% endblock meta_copydoc %}

{% block content %}

<section class="p-strip--suru-half-and-half-reversed is-dark">
  <div class="row u-equal-height u-vertically-center">
    <div class="col-6">
      <h1>
        Enterprise mobile application management
      </h1>
      <p class="p-heading--four">
        Driving digitalisation for mobile workforces
      </p>
    </div>
    <div class="col-6 u-align--center u-hide--small">
      {{ image (
        url="https://assets.ubuntu.com/v1/4d799496-Anbox_MobAppManagement_Apps.svg",
        alt="",
        width="152",
        height="195",
        hi_def=True,
        loading="auto"
        ) | safe
      }}
    </div>
  </div>
</section>



{% endblock content %}
