{% extends '_layout.html' %}


{% block title %}Enterprise. Secute mobile application management.{% endblock %}
{% block meta_description %}Enterprise mobile application management. Driving digitalisation for mobile workforces.
{% endblock %}
{% block meta_copydoc %}https://docs.google.com/document/d/1YMfnGmUWZqs89uVyREdH9BzkHasp4b3RDV0FzS75K3I/edit#{% endblock meta_copydoc %}

{% block content %}
{% include "/secondary-nav.html" %}

<section class="p-strip--suru-half-and-half-reversed is-dark">
  <div class="row u-equal-height u-vertically-center">
    <div class="col-6">
      <h1>Enterprise mobile application management</h1>
      <p class="p-heading--four">Driving digitalisation for mobile workforces</p>
    </div>
    <div class="col-6 u-align--center u-hide--small">
      {{ image (
        url="https://assets.ubuntu.com/v1/4d799496-Anbox_MobAppManagement_Apps.svg",
        alt="",
        width="152",
        height="195",
        hi_def=True,
        loading="auto"
        ) | safe
      }}
    </div>
  </div>
</section>

<section>
  <div class="p-strip u-no-padding--bottom">
    <div class="row">
      <div class="col-6">
        <h4>Mobile apps are central to businesses undergoing digital transformation. However, security and data protection is costly with classical mobile app management solutions. Anbox Cloud enables compliant and low-Capex mobile application management from the cloud.</h4>
      </div>
      <div class="col-6">
        <p>Enterprises around the world are undergoing rapid digital transformation. For enterprises with a mobile workforce, digital transformation drives the increasing use of corporate productivity apps on smartphones and tablets.</p>
        <p>However, with corporate-provided mobile devices, creating strict boundaries between private and corporate data is a challenge. Employees may use corporate devices to private ends, thereby exposing sensitive data.</p>
        <p>Enterprise IT leaders need to put a mobile strategy in place that fosters rapid digital transformation while protecting corporate data and employee privacy. Mobile application management (MAM) offers a secure way to distribute, secure, monitor and update mobile apps for the digital workplace.</p>
        <a href="#mobile-app-management">Learn about MAM with Anbox Cloud&nbsp;&rsaquo;</a>
      </div>
    </div>
  </div>
  <div class="u-fixed-width">
    <hr class="p-separator">
  </div>
  <div class="p-strip u-no-padding--top u-hide--small">
    <div class="row u-align--center">
      <div class="col-4">
        {{ image (
          url="https://assets.ubuntu.com/v1/37d10b82-Anbox_MobAppManagement_Settings.svg",
          alt="",
          width="171",
          height="190",
          hi_def=True,
          loading="lazy"
          ) | safe
        }}
      </div>
      <div class="col-4">
        {{ image (
          url="https://assets.ubuntu.com/v1/7b961704-Anbox_MobAppManagement_Functions.svg",
          alt="",
          width="201",
          height="190",
          hi_def=True,
          loading="lazy"
          ) | safe
        }}
      </div>
      <div class="col-4">
        {{ image (
          url="https://assets.ubuntu.com/v1/e76a9d96-Anbox_MobAppManagement_QR_Code.svg",
          alt="",
          width="148",
          height="190",
          hi_def=True,
          loading="lazy"
          ) | safe
        }}
      </div>
    </div>
  </div>
</section>

<section class="p-strip--light" id="mobile-app-management">
  <div class="row">
    <h2>Secure mobile application management</h2>
    <p>Mobile Application Management (MAM) refers to software platforms used to secure, manage and distribute mobile applications to smartphones and tablet computers. The term applies to company-owned mobile devices as well as BYOD ("Bring Your Own Devices"). MAM solutions typically enable application delivery, configuration, authorization and usage tracking.</p>
    <p>MAM eliminates the need for mobile device management (MDM) software, which is much harder to provision on both enterprise-owned and employee mobile devices. MDM is typically more invasive to privacy, while it also poses reliability challenges and  is much less flexible when it comes to BYOD.</p>
    <p>What does it take to manage corporate apps securely? First, it requires the capability to deliver mobile applications on varied fleets of devices. And the solution needs to integrate with mobile endpoints for two way communication. Finally, the mobile applications need to be installed on the target devices, in full isolation from endpoint storage and data. The key challenges are:</p>
    <ul class="p-list">
      <li class="p-list__item is-ticked">Mobile application delivery</li>
      <li class="p-list__item is-ticked">Mobile client integration</li>
      <li class="p-list__item is-ticked">Mobile application isolation</li>
    </ul>
    <p>Anbox Cloud is engineered to address these challenges. The commercially supported platform builds on open source software to empower innovators to manage Android applications in the workplace.</p>
  </div>
</section>

<section class="p-strip">
  <div class="row">
    <div class="col-5">
      <h2>Streaming corporate apps with Anbox Cloud</h2>
    </div>
  </div>
  <div class="row u-equal-height">
    <div class="col-6 p-card">
      <h3 class="p-card__title">Apps delivered from the cloud</h3>
      <hr>
      <p class="p-card__content">With Anbox Cloud corporate IT leaders can leverage public or private clouds to deliver corporate apps to all employees. Organisations will have options to host their app catalogue centrally on a cloud in a nearby region or at the edge within the enterprise IT network.</p>
    </div>
    <div class="col-6 p-card">
      <h3 class="p-card__title">Bring your own device</h3>
      <hr>
      <p class="p-card__content">Since applications are delivered to devices via a video stream, Anbox Cloud is compatible with a broad range of smartphones and tablets. No applications are installed on the device and  no app data is stored on employee devices. This separation makes Anbox Cloud perfect for BYOD. </p>
    </div>
  </div>
  <div class="row u-equal-height">
    <div class="col-6 p-card">
      <h3 class="p-card__title">Minimal footprint on devices</h3>
      <hr>
      <p class="p-card__content">The minimal requirement for running Anbox Cloud is a device that can connect to the cloud and stream video and sync with sensor input. Neither app binaries nor app data are stored locally on the device. The resulting footprint is minimal, no matter how many applications are used.</p>
    </div>
    <div class="col-6 p-card">
      <h3 class="p-card__title">App data security</h3>
      <hr>
      <p class="p-card__content">Anbox Cloud secures application data in a single location in the cloud. Corporate data is never stored on employee devices. Enterprises can manage and enforce data policies in the most consistent manner, irrespective of the number of apps and the variety of mobile devices used by employees.</p>
    </div>
  </div>
</section>

<section class="p-strip--light">
  <div class="row">
    <div class="col-6">
      <h2>What’s under the hood</h2>
      <h4>Anbox Cloud builds on a powerful stack of open-source software to deliver cloud-based enterprise mobile application management.</h4>
    </div>
  </div>
  <div class="row p-divider">
    <div class="col-6 p-divider__block">
      <h3>Android in containers</h3>
      <p>Anbox Cloud leverages system containers through <a href="https://linuxcontainers.org/">LXD</a> to offload compute and storage from mobile devices to the cloud. LXD is a next generation system container manager. The user experience is similar to virtual machines but it uses lightweight Linux containers manageable via a REST API instead. You can take advantage of automation-friendly interfaces to streamline your app delivery pipeline.</p>
    </div>
    <div class="col-6 p-divider__block u-align--center u-vertically-center u-hide--small">
      {{ image (
        url="https://assets.ubuntu.com/v1/ac9a0e00-lxd_primary.svg",
        alt="LXD",
        width="229",
        height="75",
        hi_def=True,
        loading="lazy"
        ) | safe
      }}
    </div>
  </div>
  <div class="u-fixed-width">
    <hr class="p-separator">
  </div>
  <div class="row p-divider">
    <div class="col-6 p-divider__block">
      <h3>Cloud agnostic</h3>
      <p>Modern enterprise IT infrastructure is diverse and hybrid. Anbox Cloud fits seamlessly into any IT architecture, thanks to underlying cloud-agnostic software components.  You can deploy Anbox Cloud as a PaaS or as a SaaS. Thanks to <a href="https://jaas.ai/">Juju</a> and <a href="https://maas.io/">MAAS</a>, you can deploy your apps automatically into your own datacenter or on the public cloud. </p>
    </div>
    <div class="col-6 p-divider__block u-align--center u-vertically-center u-hide--small">
      {{ image (
        url="https://assets.ubuntu.com/v1/2840d6f1-juju-logo-55.svg",
        alt="Canonical Juju",
        width="254",
        height="55",
        hi_def=True,
        loading="lazy"
        ) | safe
      }}
    </div>
  </div>
  <div class="u-fixed-width">
    <hr class="p-separator">
  </div>
  <div class="row">
    <div class="col-7">
      <h3>App management dashboard</h3>
      <p>Anbox Cloud allows corporate IT managers to have full visibility on a user friendly dashboard that will allow you to add and manage your enterprise applications. It gives you control over user application sessions. Even though applications are streamed to mobile devices (employee or corporate owned), you will have control over application access permission.</p>
    </div>
    <div class="col-5 u-align--center u-vertically-center u-hide--small">
      {{ image (
        url="https://assets.ubuntu.com/v1/32dc98fd-anbox-dashboard.png",
        alt="Anbox dashboard",
        width="291",
        height="250",
        hi_def=True,
        loading="lazy"
        ) | safe
      }}
    </div>
  </div>
</section>

<section class="p-strip is-bordered">
  <div class="row u-vertically-center">
    <div class="col-6 u-align--center u-hide--small">
      {{ image (
        url="https://assets.ubuntu.com/v1/c4b290c8-Contact+us.svg",
        alt="",
        width="289",
        height="205",
        hi_def=True,
        loading="lazy"
        ) | safe
      }}
    </div>
    <div class="col-5">
      <h2>Stream workplace apps from the cloud</h2>
      <p>Get in touch with Canonical to explore avenues to modernise your mobile application management infrastructure.</p>
      <a href="/contact-us"  class="p-button--positive">Get in touch</a>
    </div>
  </div>
</section>

{% endblock content %}
