{% extends '_layout.html' %}

{% block title %}Automate Android application testing{% endblock %}

{% block description %}Android test automation in the cloud. Mobile app quality assurance.{% endblock %}

{% block copydoc %}https://docs.google.com/document/d/1WpN0_o092-yy37SKYiddLpJ0QVdSBseAGCyV_5qWeTk/edit#heading=h.qpfwf42kydh1#{% endblock %}

{% block content %}
{% include "/secondary-nav.html" %}

<section class="p-strip--suru-half-and-half-reversed is-dark">
  <div class="row u-equal-height u-vertically-center">
  <div class="col-6">
    <h1>
      Android test automation in the cloud
    </h1>
    <p class="p-heading--four">
      Mobile app quality assurance
    </p>
  </div>
  <div class="col-6 u-align--center u-hide--small">
    {{ image (
      url="https://assets.ubuntu.com/v1/14299fcc-Anbox_Testing_StarRating.svg",
      alt="",
      width="152",
      height="192",
      hi_def=True,
      loading="auto"
      ) | safe
    }}
  </div>
  </div>
</section>

<section>
  <div class="p-strip u-no-padding--bottom">
    <div class="row">
      <div class="col-6">
        <h4>
          Mobile app complexity is growing, requiring broad test coverage to ensure app quality. However, developers currently lack options to automate Android app testing at scale. Anbox Cloud enables CI/CD test automation in the cloud for Android apps.
        </h4>
      </div>
      <div class="col-6">
        <p>
          The Android platform hosts the largest ecosystem of mobile applications, with over three million titles in the app store. With crowded app stores, mobile applications compete for visibility.
        </p>
        <p>
          Users evaluate the quality of apps when deciding which one to download. Based on app store search algorithms, quality is reflected by app store reviews. This means that users converge to the best rated apps.
        </p>
        <p>
          Only extensive testing ensures app quality. Manual testing alone can not deliver the stellar quality expected by users. Automation reduces the cost of testing and accelerates time to market as it helps find bugs and you can fix them faster.
        </p>
      </div>
    </div>
  </div>
  <div class="u-fixed-width">
    <hr class="p-separator">
  </div>
  <div class="p-strip u-no-padding--top u-hide--small">
    <div class="row u-align--center">
      <div class="col-4 u-hide--small">
        {{ image (
          url="https://assets.ubuntu.com/v1/9559a2dd-Anbox_Testing_Robot_Signal.svg",
          alt="",
          width="148",
          height="190",
          hi_def=True,
          loading="lazy"
          ) | safe
        }}
      </div>
      <div class="col-4 u-hide--small">
        {{ image (
          url="https://assets.ubuntu.com/v1/fa122b37-Anbox_Testing_Cloud_Environment.svg",
          alt="",
          width="185",
          height="190",
          hi_def=True,
          loading="lazy"
          ) | safe
        }}
      </div>
      <div class="col-4 u-hide--small">
        {{ image (
          url="https://assets.ubuntu.com/v1/3ea644ce-Anbox_Testing_StarRating_Horiz.svg",
          alt="",
          width="206",
          height="190",
          hi_def=True,
          loading="lazy"
          ) | safe
        }}
      </div>
    </div>
  </div>
</section>

<section class="p-strip--light">
  <div class="row">
    <h2>Test apps on Android</h2>
    <p>
      Quality expectations from users are constantly increasing. Mobile application publishers need to raise their quality checking practices to higher standards to compete. Quality assurance requires testing complex mobile applications in every detail. This means exhaustive testing with every change of code to avoid regressions.
    </p>
    <p>
      What’s more, test cases have to be representative of the real usage scenarios. Testing needs to use  sensors like cameras, microphones, GPS, NFC, etc. Tests should cover various mobile form factors, taking variables like different screen sizes into account. Most importantly, to be viable, test operations need to be affordable from an OPEX and CAPEX point of view.
    </p>
    <p>
      What does it take to achieve these goals? Scalable virtualisation capabilities for Android in the cloud are required first and foremost. Furthermore, the virtualisation platform should be integrated with existing CI/CD infrastructure. Finally APIs need to be available to drive test automation. The key challenges are:
    </p>
    <ul class="p-list">
      <li class="p-list__item is-ticked">Android virtualisation</li>
      <li class="p-list__item is-ticked">Integration in CD/CD pipeline</li>
      <li class="p-list__item is-ticked">Automatisation APIs</li>
    </ul>
    <p>
      Anbox Cloud is engineered to address these challenges. The commercially supported platform builds on open source software to empower innovators to test Android applications at scale in the cloud.
    </p>
  </div>
</section>

<section class="p-strip">
  <div class="row">
    <div class="col-5">
      <h2>Cloud test integration for Android apps</h2>
    </div>
  </div>
  <div class="row u-equal-height">
    <div class="col-6 p-card">
      <h3 class="p-card__title">Test at any scale</h3>
      <hr>
      <p class="p-card__content">Anbox Cloud is scalable. You can perform application tests at the capacity that suits your requirements. Run simultaneous tests in different device configurations in Android containers. Perform test sharding to spread your tests across several virtual devices.</p>
    </div>
    <div class="col-6 p-card">
      <h3 class="p-card__title">Extensive test coverage</h3>
      <hr>
      <p class="p-card__content">Reinforce your quality assurance processes with exhaustive test coverage. Anbox Cloud emulates various device configurations. Furthermore, it simulates device sensors capabilities like touch, cameras, audio and more. This will allow you to compose test configurations representative of the majority of usage scenarios.</p>
    </div>
  </div>
  <div class="row u-equal-height">
    <div class="col-6 p-card">
      <h3 class="p-card__title">Test anywhere</h3>
      <hr>
      <p class="p-card__content">Test Android applications natively on ARM servers from Ampere or Marvel in the cloud. Alternatively, take advantage of the newest generations of x86 processors from Intel or AMD. Deploy in your test infrastructure on your favourite cloud or on premise.</p>
    </div>
    <div class="col-6 p-card">
      <h3 class="p-card__title">CI/CD automation</h3>
      <hr>
      <p class="p-card__content">Anbox Cloud is compatible with popular CI/CD automation tools like Jenkins, Travis, CircleCI and more. Android containers are accessible via a REST API, making it easy to send ADB calls to single containers to run automation scripts in virtual devices.</p>
    </div>
  </div>
</section>

<section class="p-strip--light">
  <div class="row">
    <div class="col-6">
      <h2>What’s under the hood</h2>
      <h4>Anbox Cloud builds on a powerful stack of open-source software to deliver Android app testing from any cloud.</h4>
    </div>
  </div>
  <div class="row u-vertically-center">
    <div class="col-7">
      <h3>Android in containers</h3>
      <p>Unlike Android emulators that make use of virtual machines, Anbox Cloud leverages system containers through <a class="p-link--external" href="https://linuxcontainers.org/">LXD</a>, the next generation system container manager. Offering a user experience similar to virtual machines but using lightweight Linux containers instead, it is  managed via a REST API. You can take advantage of automation-friendly interfaces to streamline your CI/CD testing pipeline.</p>
    </div>
    <div class="col-5 u-align--center u-hide--small">
      {{ image (
        url="https://assets.ubuntu.com/v1/ac9a0e00-lxd_primary.svg",
        alt="",
        width="229",
        height="75",
        hi_def=True,
        loading="lazy"
        ) | safe
      }}
    </div>
  </div>
  <div class="u-fixed-width">
    <hr class="p-separator">
  </div>
  <div class="row u-vertically-center">
    <div class="col-7">
      <h3>Software orchestration</h3>
      <p>Emulating Android applications in thousands of virtual mobile devices mobile simultaneously requires orchestration and monitoring of several software components. This involves streaming servers, image repositories, mobile applications, a dashboard application for management and <a href="/docs/overview">more</a>. Thanks to <a href="https://juju.is" class="p-link--external">Juju</a> and <a href="https://maas.io/" class="p-link--external">MAAS</a>, you can deploy your stack automatically anywhere.</p>
    </div>
    <div class="col-5 u-align--center u-hide--small">
      {{ image (
        url="https://assets.ubuntu.com/v1/48a8eddf-juju_black-orange_hex.svg",
        alt="",
        width="208",
        height="75",
        hi_def=True,
        loading="lazy"
        ) | safe
        }}
    </div>
  </div>
</section>

<section class="p-strip is-bordered">
  <div class="row u-vertically-center">
    <div class="col-6 u-align--center u-hide--small">
      {{ image (
        url="https://assets.ubuntu.com/v1/c4b290c8-Contact+us.svg",
        alt="",
        width="289",
        height="205",
        hi_def=True,
        loading="lazy"
        ) | safe
      }}
    </div>
    <div class="col-5">
      <h3>Automate Android app testing</h3>
      <p>Get in touch with Canonical to explore avenues to modernise your Android application testing infrastructure.</p>
      <a href="/contact-us"  class="p-button--positive">Get in touch</a>
    </div>
  </div>
</section>

{% endblock %}
