@mixin anbox-p-stream {
  .p-stream {
    position: relative;
  }

  .p-stream__button {
    display: block;
    position: relative;
  }

  .p-stream__status-indicator {
    height: 100px;
    position: absolute;
    right: calc(50% - 50px);
    top: calc(50% - 50px);
    width: 100px;
  }

  .p-stream__player {
    position: absolute;
    top: 0;

    video {
      background-color:  $color-x-dark;
      margin: 0;
    }

    // sass-lint:disable no-vendor-prefixes
    // Ensure we always hide the media controls of the player, even in fullscreen.
    // See https://css-tricks.com/custom-controls-in-html5-video-full-screen/ for
    // more details
    video::-webkit-media-controls {
      display: none !important;
    }
    // sass-lint:enable no-vendor-prefixes
  }

  .p-stream__instructions {
    text-align: left;

    @media (min-width: $breakpoint-small) {
      bottom: $spv--medium;
      left: $sph--large;
      position: absolute;
    }
  }

  .p-stream__error {
    left: $sph--large;
    position: absolute;
    top: $spv--medium;
  }
}
