@mixin anbox-p-navigation {
  .p-navigation {
    &__row {
      &-banner {
        padding: 0 ($sph--small + $sph--large);

        @media only screen and (max-width: $breakpoint-small) {
          padding-left: 1rem;
        }
      }

      &-logo {
        font-weight: 400;
        margin-right: 0;
      }

      &-toggle {
        &--open,
        &--close {
          font-weight: 400;
        }
      }
    }
  }
}
