@charset 'UTF-8';

// import settings
@import "settings";

// import custom mixins

// import cookie policy
// @import "cookie-policy/build/css/cookie-policy";

// import vanilla-framework
@import 'vanilla-framework/scss/build';

// import site specific patterns and overrides

@import "pattern_matrix";
@import "pattern_navigation";
@import "pattern_strip";

@include anbox-p-matrix;
@include anbox-p-navigation;
@include anbox-p-strip;
