@charset 'UTF-8';

// import settings
@import "settings";

// import custom mixins

// import cookie policy
// @import "cookie-policy/build/css/cookie-policy";

// import vanilla-framework
@import "vanilla-framework/scss/build";

// import cookie policy
@import "@canonical/cookie-policy/build/css/cookie-policy";

// import site specific patterns and overrides
@import "pattern_deployment-table";
@import "pattern_docs";
@import "pattern_heading-icon";
@import "pattern_matrix";
@import "pattern_navigation";
@import "pattern_strip";
@import "pattern_stream";

@include anbox-p-deployment-table;
@include anbox-p-docs;
@include anbox-p-heading-icon;
@include anbox-p-matrix;
@include anbox-p-navigation;
@include anbox-p-strip;
@include anbox-p-stream;

// import additional styles
@import "intl-tel-input";

.p-pull-quote .p-pull-quote__quote:last-of-type::after {
  bottom: auto;
}

// Adjust logo width to secondary navigation 
.p-navigation .p-navigation__banner {
  padding-left: 0;
  padding-right: 0;
}

@media (min-width: 975px) {
  #contact-modal.p-modal .p-modal__dialog {
    max-width: 875px;
    min-width: 875px;
  }
}
