<div class="p-stream" id="{{ app }}">
  <a class="p-stream__button js-button">
    <img class="p-stream__status-indicator js-play" src="https://assets.ubuntu.com/v1/45146a8e-play-icon--white-on-black.svg" alt="Stream app">
    <img class="p-stream__status-indicator u-animation--spin js-loading u-hide" src="https://assets.ubuntu.com/v1/be6583dc-spinner-white.svg" alt="Stream app">
    <img class="p-stream__placeholder" src="https://assets.ubuntu.com/v1/17e7d09c-BBR2_Screenshot_01_Dragon_2018-12-12.jpg" alt="">
    <div class="p-notification--negative p-stream__error u-hide js-error-container">
      <p class="p-notification__response">
        <span class="p-notification__status js-error">Error:</span>
      </p>
    </div>
  </a>
  <div id="{{ app }}-player" class="p-stream__player js-player u-hide" style="width: 1104px; height: 628px;"></div>
</div>
