<div class="p-stream" id="{{ app }}">
  <a class="p-stream__button js-button">
    <img class="p-stream__status-indicator js-play" src="https://assets.ubuntu.com/v1/45146a8e-play-icon--white-on-black.svg" alt="Stream app" title="Stream app">
    <img class="p-stream__status-indicator u-animation--spin js-loading u-hide" src="https://assets.ubuntu.com/v1/be6583dc-spinner-white.svg" alt="Loading" title="Loading">
    <img class="p-stream__placeholder js-placeholder" src="https://assets.ubuntu.com/v1/17e7d09c-BBR2_Screenshot_01_Dragon_2018-12-12.jpg" alt="">
    <div class="p-notification--negative p-stream__error u-hide js-error-container">
      <p class="p-notification__response">
        <span class="p-notification__status">Error:</span><span class="js-error"></span>
      </p>
    </div>
  </a>
  {% if app == "buggy-racing" %}
  <div class="p-stream__instructions p-card--overlay">
    <h3 class="p-heading--four">Game controls</h3>
    <p><span title="up arrow key">↑</span><span title="down arrow key">↓</span><span title="left arrow key">←</span><span title="right arrow key">→</span>: movement</p>
    <p><span title="A key">🄰</span><span title="S key">🅂</span><span title="D key">🄳</span>: trigger power-ups</p>
  </div>
  {% endif %}
  <div id="{{ app }}-player" class="p-stream__player js-player u-hide"></div>
</div>
