<!doctype html>

<html class="js" lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/styles.css" />
    <link rel="shortcut icon" href="https://assets.ubuntu.com/v1/ee29de9e-Anbox_favicon_64px.png" type="image/x-icon">
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NBTPJS7');</script>
    <!-- End Google Tag Manager -->
  </head>
  <body>
    <header id="navigation" class="p-navigation is-dark">
      <div class="p-navigation__row">
        <div class="p-navigation__banner">
          <div class="p-navigation__logo u-vertically-center">
            <a class="p-navigation__link" href="/" style="color:white">
              Anbox Cloud
            </a>
          </div>
        </div>
      </div>
    </header>
    <main>
      {% block content %} {% endblock %}
    </main>
    {% include 'footer.html' %}
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NBTPJS7"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
  </body>
</html>
