<!doctype html>

<html class="js" lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/styles.css" />
    <link rel="shortcut icon" href="https://assets.ubuntu.com/v1/ee29de9e-Anbox_favicon_64px.png" type="image/x-icon">
  </head>
  <body>
    <header id="navigation" class="p-navigation is-dark">
      <div class="p-navigation__row">
        <div class="p-navigation__banner">
          <div class="p-navigation__logo u-vertically-center">
            <a class="p-navigation__link" href="/" style="color:white">
              Anbox Cloud
            </a>
          </div>
          <a href="#navigation" class="p-navigation__toggle--open" title="menu">Menu</a>
          <a href="#navigation-closed" class="p-navigation__toggle--close" title="close menu">Close menu</a>
        </div>
        <nav class="p-navigation__nav">
          <span class="u-off-screen">
            <a href="#main-content">Jump to main content</a>
          </span>
          <ul class="p-navigation__links" role="menu">
            <li class="p-navigation__link" role="menuitem">
              {% if not session['openid'] %}
                <a type="button" href="/login">Login</a>
              {% else %}
                <a type="button" href="/logout">Log out</a>
              {% endif %}
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      {% block content %} {% endblock %}
    </main>
    {% include 'footer.html' %}
  </body>
</html>
