<!DOCTYPE html>

<html class="js" lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}Anbox Cloud{% endblock %}</title>
    <meta
      name="description"
      content="{% block description %}Anbox Cloud is the mobile cloud computing platform delivered by Canonical. Run Android in the cloud, at high scale and on any type of hardware. Canonical partners with cloud providers and computing hardware manufacturers to accelerate your time to market and provide long term commercial support.{% endblock %}"
    />
    <script src="{{ versioned_static('js/contextualMenu.js') }}" defer></script>
    <script
      src="https://www.google.com/recaptcha/api.js?onload=CaptchaCallback&render=explicit"
      defer
    ></script>
    <script
      src="https://assets.ubuntu.com/v1/703e23c9-lazysizes+noscript+native-loading.5.1.2.min.js"
      defer
    ></script>
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="{{ versioned_static('css/styles.css') }}"
    />
    <link
      rel="shortcut icon"
      href="https://assets.ubuntu.com/v1/abc34f73-Anbox_favicon_2022_64px.png"
      type="image/x-icon"
    />

    <meta name="theme-color" content="#E95420" />
    <meta name="twitter:account_id" content="4503599627481511" />
    <meta name="twitter:site" content="@ubuntu" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://anbox-cloud.io" />
    <meta property="og:site_name" content="Anbox Cloud" />
    <meta name="copydoc" content="{% block copydoc %}{% endblock %}" />
    <meta
      name="google-site-verification"
      content="ddh2iq7ZuKf1LpkL_gtM_T7DkKDVD7ibq6Ceue4a_3M"
    />
    <meta name="twitter:title" content="{{  self.title() }}" />
    <meta property="og:title" content="{{  self.title() }}" />
    <meta name="twitter:description" content="{{  self.description() }}" />
    <meta property="og:description" content="{{  self.description() }}" />
    <!-- Meta image -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="twitter:image"
      content="https://assets.ubuntu.com/v1/e67f55ba-Anbox-social.jpg"
    />
    <meta
      property="og:image"
      content="https://assets.ubuntu.com/v1/e67f55ba-Anbox-social.jpg"
    />

    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-NBTPJS7");
    </script>
    <!-- End Google Tag Manager -->
  </head>

  <body class="no-js is-paper {% block body_class %}l-site{% endblock %}">
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-NBTPJS7"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
      ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {% block body %}
    {% include "partial/_navigation.html" %}

    <main id="main-content">
      {% block content %}{% endblock content %}
    </main>

    {% include "partial/_footer.html" %}
    {% endblock %}

    <script src="{{ versioned_static('js/modules/cookie-policy/cookie-policy.js') }}"></script>
    <script src="{{ versioned_static('js/modules/global-nav/global-nav.js') }}"></script>
    <script>
      canonicalGlobalNav.createNav({
        breakpoint: 620 // same as $breakpoint-navigation-threshold in _settings.scss
      });
      cpNs.cookiePolicy();
    </script>
  </body>
</html>
