{% extends '_layout.html' %}

{% block content%}

<section class="p-strip">
  <div class="row">
    <div class="col-8">
      <h1 id="request-form">Contact us</h1>
      <p class="p-heading--4">Talk to us about Anbox Cloud.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      {% with id="3498", returnURL="https://anbox-cloud.io/thank-you" %}{% include '_engage-form.html' %}{% endwith %}
    </div>
    <div class="col-5 col-start-large-8 u-hide--small">
      {{
        image(
          url="https://assets.ubuntu.com/v1/c4b290c8-Contact+us.svg",
          alt="",
          width="350",
          height="249",
          hi_def=True,
        ) | safe
      }}
    </div>
  </div>
</section>

{% endblock content %}