{% extends '_layout.html' %}

{% block title %}Anbox Cloud - Scalable Android in the cloud{% endblock %}

{% block description %}Anbox Cloud is the mobile cloud computing platform delivered by Canonical. Run Android in the cloud, at high scale and on any type of hardware. Canonical partners with cloud providers and computing hardware manufacturers to accelerate your time to market and provide long term commercial support.{% endblock %}

{% block content %}
<script type="module">
  import AnboxStream from '/static/js/anbox-stream-sdk.js';
  // @ params buttonId: HTML id of the button that activates it
  // @ params anboxStreamId: HTML id attribute of the div containing the anbox stream
  function streamContainer(anboxStreamId) {
    let stream = new AnboxStream({
    targetElement: anboxStreamId,
    url: '{{ ANBOXCLOUD_API_BASE }}',
    authToken: '{{ session["authentication_token"] }}',
    session: {
        app: "com.vectorunit.cobalt.canonical", // Given
    },
    screen: {
      // Currently available max resolution
      // To change to portrait just flip the values between width and height
        width: 1280,
        height: 720,
    },
    // Using keyboard controls to test it on non-touch device
    controls: {
      keyboard: true
    },
    callbacks: {
      error: error => {
        console.log("AnboxStream failed: " + error.message);
      }
    }
  });
  stream.connect();
  }

  document.querySelector("#buggy-racing-btn").addEventListener('click', streamContainer("buggy-racing"))

  var streams = Array.from(document.querySelectorAll('.p-stream'));

  streams.forEach((stream, i) => {
    stream.querySelector(".js-button").addEventListener('click', function() {
      streamContainer(stream.id, stream.offsetHeight, stream.offsetWidth);
    })
  });
</script>

<section class="p-strip--dark is-bordered is-shallow" style="background-image: linear-gradient(-89deg, #E95420 0%, #772953 42%, #2C001E 94%);">
  <div class="row p-strip is-shallow">
    <div class="col-7">
      <h1>Anbox Cloud: Try it yourself</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12 u-align--center">
      <button type="button" id="buggy-racing-btn">Click here to start anbox stream</button>
      <div id="buggy-racing"></div>
      <!-- <img src="https://via.placeholder.com/1280x720" alt=""> -->
    </div>
  </div>
</section>
<section class="p-strip is-shallow is-bordered">
  <div class="row">
    <div class="col-8">
      <p>I agree that my use of the services are subject to my adherence to, and acceptance of, the <a href="https://ubuntu.com/legal/anbox-cloud-terms-of-service" class="p-link--external">Terms of Service</a>, <a href="https://ubuntu.com/legal/anbox-cloud-privacy-notice" class="p-link--external">Privacy Notice</a> and <a href="https://ubuntu.com/legal/data-privacy" class="p-link--external">Privacy Policy</a>.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <p>More information about Anbox Cloud can be found on the <a href="/">homepage</a></p>
    </div>
  </div>
</section>
{% endblock %}
