{% extends '_layout.html' %}

{% block title %}Anbox Cloud - Scalable Android in the cloud{% endblock %}

{% block description %}Anbox Cloud is the mobile cloud computing platform delivered by Canonical. Run Android in the cloud, at high scale and on any type of hardware. Canonical partners with cloud providers and computing hardware manufacturers to accelerate your time to market and provide long term commercial support.{% endblock %}

{% block content %}
<script type="module">
  import AnboxStream from '/static/js/anbox-stream-sdk.js';
  import mobileDevice from '/static/js/detect-browser.js';

  if (mobileDevice()) {
    document.querySelector('.p-stream__instructions').classList.add("u-hide")
  }

  // @ params appName: name of the application to stream
  function streamContainer(appName) {
    var container = document.querySelector('#' + appName);
    var errorContainer = container.querySelector(".js-error-container");
    var errorMessage = container.querySelector(".js-error");
    var button = container.querySelector(".js-button");
    var player = document.querySelector('#' + appName + "-player");
    var loading = container.querySelector(".js-loading");
    var play = container.querySelector(".js-play");
    var placeholder = container.querySelector('.js-placeholder');

    var containerHeight = container.offsetHeight;
    var containerWidth = container.offsetWidth;

    if (loading.classList.contains("u-hide")) {
      play.classList.add("u-hide");
      loading.classList.remove("u-hide");
      errorContainer.classList.add('u-hide');
      placeholder.style.opacity = 1;

      let stream = new AnboxStream({
        targetElement: player.id,
        url: '{{ ANBOXCLOUD_API_BASE }}',
        authToken: '{{ session["authentication_token"] }}',
        session: {
          app: "com.vectorunit.cobalt.canonical", // Given
        },
        screen: {
          width: 1280,
          height: 720,
          fps: 25
        },
        // Using keyboard controls to test it on non-touch device
        controls: {
          keyboard: true
        },
        callbacks: {
          error: error => {
            button.classList.remove("u-hide");
            player.classList.add('u-hide');
            loading.classList.add("u-hide");
            play.classList.remove("u-hide");
            placeholder.style.opacity = 1;
            errorMessage.textContent = "Please click the play button below to try again.";
            console.error('Anbox cloud stream error: ' + error);
            errorContainer.classList.remove('u-hide');
          },
          ready: () => {
            var video = player.querySelector('video');
            if (video && placeholder) {
              video.height = placeholder.height;
              video.width = placeholder.width;
            }
            placeholder.style.opacity = 0;
            player.classList.remove('u-hide');
          if (mobileDevice())
            {
              console.log("SDK: detected mobile browser, trying to enable fullscreen");
              stream.requestFullscreen();
            }
          }
        }
      });
      stream.connect();
    }
  }
  var streams = Array.from(document.querySelectorAll('.p-stream'));

  streams.forEach((stream, i) => {
    stream.querySelector(".js-button").addEventListener('click', function() {
      var placeholder = stream.querySelector('.js-placeholder');

      streamContainer(stream.id);

      window.addEventListener("resize", function() {
        var video = stream.querySelector('video');
        if (video && placeholder) {
          video.height = placeholder.height;
          video.width = placeholder.width;
        }
      });
    })
  });
</script>

<section class="p-strip--dark is-bordered is-shallow" style="background-image: linear-gradient(-89deg, #E95420 0%, #772953 42%, #2C001E 94%);">
  <div class="row p-strip is-shallow">
    <div class="col-7">
      <h1>Anbox Cloud: Try it yourself</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12 u-align--center">
      {% with app="buggy-racing" %}
        {% include "_anbox-embed.html" %}
      {% endwith %}
    </div>
  </div>
</section>
<section class="p-strip is-shallow is-bordered">
  <div class="row">
    <div class="col-8">
      <p>I agree that my use of the services are subject to my adherence to, and acceptance of, the <a href="https://ubuntu.com/legal/anbox-cloud-terms-of-service" class="p-link--external">Terms of Service</a>, <a href="https://ubuntu.com/legal/anbox-cloud-privacy-notice" class="p-link--external">Privacy Notice</a> and <a href="https://ubuntu.com/legal/data-privacy" class="p-link--external">Privacy Policy</a>.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <p>More information about Anbox Cloud can be found on the <a href="/">homepage</a></p>
    </div>
  </div>
</section>
{% endblock %}
