{% extends '_layout.html' %}

{% block title %}Anbox Cloud - Scalable Android in the cloud{% endblock %}

{% block description %}Anbox Cloud is the mobile cloud computing platform delivered by Canonical. Run Android in the cloud, at high scale and on any type of hardware. Canonical partners with cloud providers and computing hardware manufacturers to accelerate your time to market and provide long term commercial support.{% endblock %}

{% block copydoc %}https://docs.google.com/document/d/1SfpOBeDJUZj2ZYq4V8lHOUbQF9Yzo7mp5NajJDVwFMI/edit{% endblock %}

{% block content %}
{% include "/secondary-nav.html" %}
<section class="p-strip--suru-image">
  <div class="row u-vertically-center">
    <div class="col-6">
      <h1>Android containers<br/>in the cloud</h1>
      <p class="u-sv2">Anbox Cloud lets you stream mobile apps securely, at any scale, to any device letting you focus on your apps. Run Android in system containers, not emulators, on AWS, OCI, Azure, GCP or your private cloud.</p>
      <p><a href="#run-andriod" class="p-button--positive">Get Anbox Cloud</a></p>
    </div>
    <div class="col-6 u-align--cente">
      <div class="u-embedded-media">
        <iframe title="Scalable Android Cloud with Anbox Cloud" class="u-embedded-media__element" src="https://www.youtube.com/embed/drOCjcDpnng" allowfullscreen=""></iframe>
      </div>
    </div>
  </div>
</section>

<section class="p-strip--light">
  <div class="row">
    <div class="col-4">
      <h2 class="p-heading--3">Superior economics</h2>
      <ul class="p-list">
        <li class="p-list__item is-ticked">High container density</li>
        <li class="p-list__item is-ticked">Full automated ops</li>
        <li class="p-list__item is-ticked">Elastic scale out</li>
        <li class="p-list__item is-ticked">Flexible pricing options</li>
        <li class="p-list__item is-ticked">Support included</li>
      </ul>
    </div>
    <div class="col-4">
      <h2 class="p-heading--3">Works everywhere</h2>
      <ul class="p-list">
        <li class="p-list__item is-ticked">x86 servers</li>
        <li class="p-list__item is-ticked">Arm servers</li>
        <li class="p-list__item is-ticked">Public, private, hybrid clouds</li>
        <li class="p-list__item is-ticked">GPU and GPGPU support</li>
        <li class="p-list__item is-ticked">Clients on all form factors</li>
      </ul>
    </div>
    <div class="col-4">
      <h2 class="p-heading--3">Batteries included</h2>
      <ul class="p-list">
        <li class="p-list__item is-ticked">Fully managed options</li>
        <li class="p-list__item is-ticked">First class technical support</li>
        <li class="p-list__item is-ticked">Advanced streaming stack</li>
        <li class="p-list__item is-ticked">Security patches</li>
        <li class="p-list__item is-ticked">Consulting from Canonical</li>
      </ul>
    </div>
  </div>
  <div class="u-fixed-width">
    <a class="p-button--positive" href="https://assets.ubuntu.com/v1/cc844737-Anbox_Cloud_Datasheet-latest.pdf">Download the datasheet</a>
  </div>
</section>

<section class="p-strip" id="use-cases">
  <div class="row">
    <div class="col-7">
      <h2>Virtual device infrastructure for Android</h2>
      <p class="p-heading--4 u-sv3">Unique cloud virtualisation technology, boundless possibilities for Android</p>
    </div>
  </div>
  <div class="row u-vertically-center">
    <div class="col-6">
      <h3>Stream games to millions</h3>
      <ul class="p-list">
        <li class="p-list__item is-ticked">Better unit economics thanks to high container density</li>
        <li class="p-list__item is-ticked">Low latency and high frame rates</li>
        <li class="p-list__item is-ticked">Support for x86 and Arm</li>
        <li class="p-list__item is-ticked">Adaptive to remote device’s performance</li>
      </ul>
      <a href="/gaming">Learn more about game streaming&nbsp;&rsaquo;</a>
    </div>
    <div class="col-6 u-hide--small u-hide--medium u-align--center">
      {{ image (
        url="https://assets.ubuntu.com/v1/da83f401-4+-+Register+to+the+snap+store+and+distribute+your+application+to+RasPi+users+everywhere.svg",
        alt="",
        width="333",
        height="216",
        hi_def=True,
        loading="lazy"
        ) | safe
      }}
    </div>
  </div>

  <div class="u-fixed-width">
    <hr class="p-separator"/>
  </div>

  <div class="row u-vertically-center">
    <div class="col-6 u-hide--small u-hide--medium u-align--center">
      {{ image (
        url="https://assets.ubuntu.com/v1/d2387483-telecommunications-grey.svg",
        alt="",
        width="277",
        height="270",
        hi_def=True,
        loading="lazy"
        ) | safe
      }}
    </div>
    <div class="col-6">
      <h3>Virtualise phones and tablets</h3>
      <ul class="p-list">
        <li class="p-list__item is-ticked">Run virtual Android instances in the cloud</li>
        <li class="p-list__item is-ticked">Client interface available as native or web application</li>
        <li class="p-list__item is-ticked">Full sensor integration</li>
        <li class="p-list__item is-ticked">Android communication stack enabled</li>
      </ul>
      <a href="/virtual">Learn more about virtual devices&nbsp;&rsaquo;</a>
    </div>
  </div>

  <div class="u-fixed-width">
    <hr class="p-separator"/>
  </div>

  <div class="row u-vertically-center">
    <div class="col-6">
      <h3>Secure mobile apps</h3>
      <ul class="p-list">
        <li class="p-list__item is-ticked">Delivery of on-premise mobile applications</li>
        <li class="p-list__item is-ticked">Centrally-managed application security</li>
        <li class="p-list__item is-ticked">Data privacy compliance</li>
        <li class="p-list__item is-ticked">BYOD, CYOD, COPE, and COBO friendly</li>
      </ul>
      <a href="/enterprise">Learn more about secure apps&nbsp;&rsaquo;</a>
    </div>
    <div class="col-6 u-hide--small u-hide--medium u-align--center">
      {{ image (
        url="https://assets.ubuntu.com/v1/9c80823b-confinement.svg",
        alt="",
        width="315",
        height="180",
        hi_def=True,
        loading="lazy"
        ) | safe
      }}
    </div>
  </div>

  <div class="u-fixed-width">
    <hr class="p-separator"/>
  </div>

  <div class="row u-vertically-center">
    <div class="col-6 u-align--center u-hide--small u-hide--medium">
      {{ image (
        url="https://assets.ubuntu.com/v1/f887a7db-deploy+fast.svg",
        alt="",
        width="315",
        height="180",
        hi_def=True,
        loading="lazy"
        ) | safe
      }}
    </div>
    <div class="col-6">
      <h3>Automate app testing at scale</h3>
      <ul class="p-list">
        <li class="p-list__item is-ticked">Emulate thousands of different Android devices</li>
        <li class="p-list__item is-ticked">Simulate any test scenario</li>
        <li class="p-list__item is-ticked">Flexible integration into CI/CD pipelines</li>
        <li class="p-list__item is-ticked">Low cost due to high container density</li>
      </ul>
      <a href="/testing">Learn more about automated testing&nbsp;&rsaquo;</a>
    </div>
  </div>

  <div class="u-fixed-width">
    <hr class="p-separator"/>
  </div>
  <div class="row">
    <div class="col-7">
      <p >Do you have other use cases in mind for Android in the cloud with Anbox Cloud?</p>
    </div>
    <div class="col-5">
      <a class="p-button--positive" href="/contact-us">Tell us more</a>
    </div>
  </div>
</section>

<section class="p-strip--suru">
  <div class="u-fixed-width">
    <h2 class="p-heading--3">Learn more about Android in the cloud</h2>
    <ul class="p-matrix">
      <li class="p-matrix__item">
        <div class="p-matrix__content">
          <div class="p-heading-icon--muted">
            <div class="p-heading-icon__header">
              {{
                image(
                  url="https://assets.ubuntu.com/v1/4ab8ff35-Whitepaper+-+white.svg",
                  alt="",
                  height="32",
                  width="32",
                  hi_def=True,
                  loading="lazy",
                  attrs={"class": "p-heading-icon__img p-heading-icon__img--small"},
                ) | safe
              }}
              <p class="p-heading--4">Whitepaper</p>
            </div>
          </div>
          <div class="p-matrix__desc">
            <a class="p-link--inverted" href="https://assets.ubuntu.com/v1/73c735a4-Scale_Android_Anbox_02.07.20.pdf">Highly scalable Android applications</a>
          </div>
        </div>
      </li>
      <li class="p-matrix__item">
        <div class="p-heading-icon--muted">
          <div class="p-heading-icon__header">
            {{
              image(
                url="https://assets.ubuntu.com/v1/4ab8ff35-Whitepaper+-+white.svg",
                alt="",
                height="32",
                width="32",
                hi_def=True,
                loading="lazy",
                attrs={"class": "p-heading-icon__img p-heading-icon__img--small"},
              ) | safe
            }}
            <p class="p-heading--4">Whitepaper</p>
          </div>
          <div class="p-matrix__desc">
            <a class="p-link--inverted" href="https://ubuntu.com/engage/anbox-cloud-gaming-whitepaper">Cloud gaming for Android</a>
          </div>
        </div>
      </li>
      <li class="p-matrix__item">
        <div class="p-heading-icon--muted">
          <div class="p-heading-icon__header">
            {{
              image(
                url="https://assets.ubuntu.com/v1/4ab8ff35-Whitepaper+-+white.svg",
                alt="",
                height="32",
                width="32",
                hi_def=True,
                loading="lazy",
                attrs={"class": "p-heading-icon__img p-heading-icon__img--small"},
              ) | safe
            }}
            <p class="p-heading--4">Whitepaper</p>
          </div>
          <div class="p-matrix__desc">
            <a class="p-link--inverted" href="https://pages.ubuntu.com/rs/066-EOV-335/images/Android_cloud_Arm_native_servers.pdf">Android in the cloud on ARM core servers</a>
          </div>
        </div>
      </li>
      <li class="p-matrix__item">
        <div class="p-heading-icon--muted">
          <div class="p-heading-icon__header">
            {{
              image(
              url="https://assets.ubuntu.com/v1/30037eac-datasheet-white.svg",
              alt="",
              width="32",
              height="28",
              hi_def=True,
              loading="lazy",
              attrs={"class": "p-heading-icon__img p-heading-icon__img--small"},
              ) | safe
            }}
            <p class="p-heading--4">Blog</p>
          </div>
          <div class="p-matrix__desc">
            <a class="p-link--inverted" href="https://ubuntu.com/blog/implementing-an-android-based-cloud-game-streaming-service-with-anbox-cloud">Implementing an Android&trade; based cloud game streaming service with Anbox Cloud</a>
          </div>
        </div>
      </li>
      <li class="p-matrix__item">
        <div class="p-heading-icon--muted">
          <div class="p-heading-icon__header">
            {{
              image(
              url="https://assets.ubuntu.com/v1/005c3416-webinar-white.svg",
              alt="",
              width="32",
              height="28",
              hi_def=True,
              loading="lazy",
              attrs={"class": "p-heading-icon__img p-heading-icon__img--small"},
              ) | safe
            }}
            <p class="p-heading--4">Webinar</p>
          </div>
          <div class="p-matrix__desc">
            <a class="p-link--inverted" href="https://ubuntu.com/engage/anbox-cloud-webinar">Introduction to Anbox Cloud</a>
          </div>
        </div>
      </li>
      <li class="p-matrix__item">
        <div class="p-heading-icon--muted">
          <div class="p-heading-icon__header">
            {{
              image(
              url="https://assets.ubuntu.com/v1/30037eac-datasheet-white.svg",
              alt="",
              width="32",
              height="28",
              hi_def=True,
              loading="lazy",
              attrs={"class": "p-heading-icon__img p-heading-icon__img--small"},
              ) | safe
            }}
            <p class="p-heading--4">Blog</p>
          </div>
          <div class="p-matrix__desc">
            <a class="p-link--inverted" href="https://ubuntu.com/blog/anbox-cloud-disrupts-mobile-user-experience">Anbox Cloud disrupts mobile UX</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>

<section class="p-strip">
  <div class="u-fixed-width u-no-margin-bottom">
    <h2>Leaning on a strong cloud ecosystem</h2>
  </div>
  <div class="row">
    <div class="col-6">
      <blockquote class="p-pull-quote--small has-image">
          {{ image (
            url="https://assets.ubuntu.com/v1/cb6924a9-Nvidia_image_logo.svg",
            alt="Nvidia logo",
            width="45",
            height="32",
            hi_def=True,
            attrs={"class": "p-pull-quote__image"},
            ) | safe
          }}
        <p class="p-pull-quote__quote">NVIDIA T4 GPUs are now featured in second-generation Arm servers at cloud service providers, delivering significantly improved app-streams-per-server and lower cost per-user. Canonical’s Anbox platform provides a complete solution to containerize mobile apps and works seamlessly with NVIDIA’s Linux and Android software stacks. Together, Canonical and NVIDIA provide a scalable solution to virtualize mobile apps, and stream them securely to the growing population of 5G mobile devices.</p>
        <cite class="p-pull-quote__citation">Phil Eisler, VP Cloud Streaming at <a href="https://nvidia.com">NVIDIA</a></cite>
      </blockquote>
    </div>
   <div class="col-6">
      <blockquote class="p-pull-quote--small has-image">
        {{ image (
          url="https://assets.ubuntu.com/v1/a3da6e0c-Arm_logo_blue_cropped.svg",
          alt="ARM logo",
          width="71",
          height="32",
          hi_def=True,
          attrs={"class": "p-pull-quote__image"},
          ) | safe
        }}
        <p class="p-pull-quote__quote">It’s no secret that TCO is a key driver of cloud provider decisions.  And that’s what gets Arm excited about the Android in the Cloud solution Ampere, Canonical and NETINT have developed.  The Ampere Altra CPU packs 80 high-performance Neoverse N1 cores into a very power-efficient design that should deliver incredible TCO for Android in the Cloud use cases like cloud gaming, Android app development and IoT enablement to cloud providers.</p>
        <cite class="p-pull-quote__citation">Robbie Williamson, <a href="https://arm.com">Arm</a> Senior Director of Solutions Engineering</cite>
      </blockquote>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <blockquote class="p-pull-quote--small has-image">
        {{
          image(
            url="https://assets.ubuntu.com/v1/cd5f83be-Anbox-logo-ampere.png",
            alt="Ampere logo",
            width="72",
            height="32",
            hi_def=True,
            attrs={"class": "p-pull-quote__image"},
          ) | safe
        }}
        <p class="p-pull-quote__quote">The combination of Ampere’s Arm-based servers with a provisioned virtualisation solution like Canonical’s Anbox Cloud delivers the flexible, high-performance and secure infrastructure that developers need in order to deliver a better user experience for consumers.</p>
        <cite class="p-pull-quote__citation">Jeff Wittich, SVP of Products at <a href="https://amperecomputing.com/">Ampere</a></cite>
      </blockquote>
    </div>
    <div class="col-6">
      <blockquote class="p-pull-quote--small has-image">
        {{
          image(
            url="https://assets.ubuntu.com/v1/f54cbf05-equinix+logo.jpg",
            alt="Equinix logo",
            width="72",
            height="32",
            hi_def=True,
            attrs={"class": "p-pull-quote__image"},
          ) | safe
        }}
        <p class="p-pull-quote__quote">As small, low-powered devices inundate our world, offloading applications to nearby cloud servers opens up a huge number of opportunities for efficiency, as well as new experiences. We're excited to support the Anbox Cloud team as they grow alongside the worldwide rollout of 5G.</p>
        <cite class="p-pull-quote__citation">Jacob Smith, Co-founder and CMO Packet (now <a href="https://metal.equinix.com/">Equinix Metal</a>)</cite>
      </blockquote>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <blockquote class="p-pull-quote--small has-image">
        {{
          image(
            url="https://assets.ubuntu.com/v1/c24cb4b9-logo-intel.svg",
            alt="Intel logo",
            width="48",
            height="32",
            hi_def=True,
            attrs={"class": "p-pull-quote__image"},
          ) | safe
        }}
        <p class="p-pull-quote__quote">Canonical's inclusion of the Intel Visual Cloud Accelerator Card - Render as part of their newly launched Anbox Cloud solution will enable the delivery of enhanced cloud and mobile gaming experiences on Android devices, supporting an emerging industry opportunity today, and for the upcoming 5G era.</p>
        <cite class="p-pull-quote__citation">Lynn Comp, Vice President, Data Platforms Group and General manager of the Visual Cloud Division, <a href="https://intel.com">Intel</a></cite>
      </blockquote>
    </div>
  </div>
</section>

<section class="p-strip--light">
  <div class="u-fixed-width">
    <div class="p-logo-section">
      <h2 class="u-sv3">Cloud service providers</h2>
      <div class="p-logo-section__items">
        <div class="p-logo-section__item">
          {{ image (
            url="https://assets.ubuntu.com/v1/1ccd490e-equinix-white-space.svg",
            alt="Equinix",
            width="144",
            height="144",
            hi_def=True,
            attrs={"class":"p-logo-section__logo"},
            loading="lazy"
            ) | safe
          }}
        </div>
        <div class="p-logo-section__item">
          {{ image (
            url="https://assets.ubuntu.com/v1/57e46e3b-google-logo.svg",
            alt="Google cloud platform",
            width="146",
            height="144",
            hi_def=True,
            loading="lazy"
            ) | safe
          }}
        </div>
        <div class="p-logo-section__item">
          {{ image (
            url="https://assets.ubuntu.com/v1/538fe31a-MS+Azure-white-space.svg",
            alt="Microsoft azure logo",
            width="146",
            height="144",
            hi_def=True,
            attrs={"class":"p-logo-section__logo"},
            loading="lazy"
            ) | safe
          }}
        </div>
        <div class="p-logo-section__item">
          {{ image (
            url="https://assets.ubuntu.com/v1/093f3200-aws-logo-white-spae.svg",
            alt="AWS logo",
            width="145",
            height="145",
            hi_def=True,
            attrs={"class":"p-logo-section__logo"},
            loading="lazy"
            ) | safe
          }}
        </div>
        <div class="p-logo-section__item">
          {{ image (
            url="https://assets.ubuntu.com/v1/debf01e1-Oracle-Cloud-Logo-350.png",
            alt="Oracle cloud",
            width="350",
            height="165",
            hi_def=True,
            attrs={"class":"p-logo-section__logo"},
            loading="lazy"
            ) | safe
          }}
        </div>
      </div>
    </div>

    <div class="p-logo-section">
      <h2 class="u-sv3">A selection of customers</h2>
      <div class="p-logo-section__items">
        <div class="p-logo-section__item"> 
          {{ image (
            url="https://assets.ubuntu.com/v1/be72de6b-Vodafone-Logo.png",
            alt="",
            width="3840",
            height="2160",
            hi_def=True,
            attrs={"class":"p-logo-section__logo"},
            loading="lazy"
            ) | safe
          }}
        </div>
        <div class="p-logo-section__item"> 
          {{ image (
            url="https://assets.ubuntu.com/v1/136b25bc-umony.png",
            alt="",
            width="278",
            height="80",
            hi_def=True,
            attrs={"class":"p-logo-section__logo"},
            loading="lazy"
            ) | safe
          }}
        </div>
        <div class="p-logo-section__item"> 
          {{ image (
            url="https://assets.ubuntu.com/v1/f7cac7bd-clario.svg",
            alt="",
            width="189",
            height="26",
            hi_def=True,
            attrs={"class":"p-logo-section__logo"},
            loading="lazy"
            ) | safe
          }}
        </div>
      </div>
    </div>
  </div>
</section>

<section class="p-strip" id="run-andriod">
  <div class="row">
    <div class="col-5">
      <h2 class="u-sv3">Run Android in the cloud with Anbox cloud</h2>
    </div>
    <div class="row">
      <div class="col-12">
        <table class="p-table--mobile-card" data-heading="Table comparing deployments to run Android in the cloud with Anbox cloud">
          <thead>
            <tr>
              <th></th>
              <th class="u-align--center">Appliance</th>
              <th class="u-align--center">Custom deployment</th>
              <th class="u-align--center">Fully managed deployment</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Streaming capabilities</th>
              <td data-heading="Appliance" class="table-cell"><i class="p-icon--success">Yes</i></td>
              <td data-heading="Custom deployment" class="table-cell"><i class="p-icon--success">Yes</i></td>
              <td data-heading="Fully managed deployment" class="table-cell"><i class="p-icon--success">Yes</i></td>
            </tr>
            <tr>
              <th>Dashboard</th>
              <td data-heading="Appliance" class="table-cell"><i class="p-icon--success">Yes</i></td>
              <td data-heading="Custom deployment" class="table-cell"><i class="p-icon--success">Yes</i></td>
              <td data-heading="Fully managed deployment" class="table-cell"><i class="p-icon--success">Yes</i></td>
            </tr>
            <tr>
              <th>Android API version</th>
              <td data-heading="Appliance" class="table-cell">10, 11, 12</td>
              <td data-heading="Custom deployment" class="table-cell">10, 11, 12</td>
              <td data-heading="Fully managed deployment" class="table-cell">10, 11, 12</td>
            </tr>
            <tr>
              <th>Long term security updates</th>
              <td data-heading="Appliance" class="table-cell"><i class="p-icon--success">Yes</i></td>
              <td data-heading="Custom deployment" class="table-cell"><i class="p-icon--success">Yes</i></td>
              <td data-heading="Fully managed deployment" class="table-cell"><i class="p-icon--success">Yes</i></td>
            </tr>
            <tr>
              <th>Community support</th>
              <td data-heading="Appliance" class="table-cell"><i class="p-icon--success">Yes</i></td>
              <td data-heading="Custom deployment" class="table-cell"><i class="p-icon--success">Yes</i></td>
              <td data-heading="Fully managed deployment" class="table-cell "><i class="p-icon--success">Yes</i></td>
            </tr>
            <tr>
              <th>Vendor support</th>
              <td data-heading="Appliance" class="table-cell"><span data-heading="No">&ndash;</span></td>
              <td data-heading="Custom deployment" class="table-cell"><i class="p-icon--success">Yes</i></td>
              <td data-heading="Fully managed deployment" class="table-cell"><i class="p-icon--success">Yes</i></td>
            </tr>
            <tr>
              <th>Monitoring</th>
              <td data-heading="Appliance" class="table-cell"><span data-heading="No">&ndash;</span></td>
              <td data-heading="Custom deployment" class="table-cell"><i class="p-icon--success">Yes</i></td>
              <td data-heading="Fully managed deployment" class="table-cell"><i class="p-icon--success">Yes</i></td>
            </tr>
            <tr>
              <th>SLAs</th>
              <td data-heading="Appliance" class="table-cell"><span data-heading="No">&ndash;</span></td>
              <td data-heading="Custom deployment" class="table-cell"><span data-heading="No">&ndash;</span></td>
              <td data-heading="Fully managed deployment" class="table-cell"><i class="p-icon--success">Yes</i></td>
            </tr>
            <tr class="u-hide--small">
              <th></th>
              <td data-heading="Appliance" class="table-cell" style="overflow: unset;">
                <span class="p-contextual-menu--left" style="z-index: 10;">
                  <button class="p-button--neutral p-contextual-menu__toggle has-icon" aria-controls="menu-3"
                          aria-expanded="false" aria-haspopup="true">
                          <span>Deploy on AWS</span><i class="p-icon--chevron-down p-contextual-menu__indicator"></i>
                      </button>
                  <span class="p-contextual-menu__dropdown" id="menu-3" aria-hidden="true" >
                    <span class="p-contextual-menu__group">
                      <a href="https://aws.amazon.com/marketplace/pp/prodview-3lx6xyaapstz4" class="p-contextual-menu__link">on x86</a>
                      <a href="https://aws.amazon.com/marketplace/pp/prodview-aqmdt52vqs5qk" class="p-contextual-menu__link">on Arm</a>
                    </span>
                  </span>
                </span>
              </td>
              <td data-heading="Custom deployment" class="table-cell"><a href="/contact-us" class="p-button--neutral">Contact us</a></td>
              <td data-heading="Fully managed deployment" class="table-cell"><a href="/contact-us" class="p-button--neutral">Contact us</a></td>
            </tr>
          </tbody>
        </table>
      </div>
      <ul class="p-inline-list u-hide--medium u-hide--large">
        <li class="p-inline-list__item">
          <a href="/contact-us" class="p-button--neutral">Contact us</a>
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="p-strip--light">
  <div class="row u-vertically-center">
    <div class="col-6">
      <h2>Tell us what you have in mind</h2>
      <p>Anbox Cloud is a platform which offers new ways to deliver mobile apps. You can test it out in the cloud in a few clicks!</p>
      <p>If you'd like to chat or learn more about how we can help accelerate your company, please reach out to us here!</p>
      <a class="p-button--positive" href="/contact-us">Talk to an expert</a>
    </div>
    <div class="col-6 u-align--center u-hide--small">
      {{ image (
        url="https://assets.ubuntu.com/v1/24a03775-Contact+us.svg",
        alt="",
        width="240",
        height="171",
        hi_def=True,
        loading="auto|lazy"
        ) | safe
      }}
    </div>
  </div>
</section>

<style>

</style>

{% endblock %}
