<!doctype html>

<html class="js" lang="en" dir="ltr">
  <head>
    <!-- Add meta charset below -->
    <meta charset="UTF-8" />

    <!-- Add meta name below -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <!-- Add page title below -->
    <title>My new project</title>
    
    <!-- Add preconnect/dns-prefetch below -->
    <link rel="preconnect" href="https://assets.ubuntu.com">
    <!-- <link rel="dns-prefetch" href="http://www.spreadfirefox.com/"> -->
    
    <!-- Add inline JS below -->
    <script>// Inline JS</script>
    
    <!-- Add stylesheet below -->
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/styles.css" />
    
    <!-- Add inline CSS below -->
    <style>/* Inline CSS */</style>
    
    <!-- Add preload below -->
    <link rel="preload" as="font" type="font/woff2" href="https://assets.ubuntu.com/v1/e8c07df6-Ubuntu-L_W.woff2" crossorigin>
    <link rel="preload" as="font" type="font/woff2" href="https://assets.ubuntu.com/v1/7f100985-Ubuntu-Th_W.woff2" crossorigin>
    <link rel="preload" as="font" type="font/woff2" href="https://assets.ubuntu.com/v1/f8097dea-Ubuntu-LI_W.woff2" crossorigin>
    <link rel="preload" as="font" type="font/woff2" href="https://assets.ubuntu.com/v1/fff37993-Ubuntu-R_W.woff2" crossorigin>

    <!-- Add script below -->
    <!-- <script src=""></script> -->

    <!-- Add prefetch/prerender below -->
    <!-- <link rel="prefetch" href="/style.css" as="style" />
    <link rel="prerender" href="https://example.com/about.html" /> -->
  </head>

  <body>
    <!-- Add navigation below -->

    <main>
      <!-- Add main content below -->
      <div class="p-strip--dark">
        <div class="u-fixed-width">
          <h1>This is my new project</h1>
        </div>
      </div>
    </main>

    <!-- Add footer below -->

  </body>
</html>
