{% extends 'base_layout.html' %}

{% block title %} Thank you | Anbox Cloud {% endblock %}

{% block description %}Anbox Cloud is the mobile cloud computing platform delivered by Canonical. Run Android in the cloud, at high scale and on any type of hardware. Canonical partners with cloud providers and computing hardware manufacturer to accelerate your time to market and provide long term commercial support.{% endblock %}


{% block content %}

<section class="p-strip is-bordered">
  <div class="row">
    <div class="col-8">
      <h1>Thanks for getting in touch</h1>
      <h2 class="p-heading--three">A member of our team will be in touch within <br><strong>one working day</strong>.</h2>
    </div>
  </div>
</section>

{% endblock %}
