name: PR checks
on: pull_request
env:
  SECRET_KEY: insecure_test_key

jobs:
  build-rock:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Use Node.js
      uses: actions/setup-node@v4

    - name: Build Assets
      run: |
        yarn install
        yarn run build

    - name: Setup LXD
      uses: canonical/setup-lxd@main

    - name: Setup Rockcraft
      run: sudo snap install rockcraft --classic --channel=latest/edge

    - name: Pack Rock
      run: rockcraft pack

  run-image:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Build image
        run: DOCKER_BUILDKIT=1 docker build --tag anbox-cloud-io .

      - name: Run image
        run: |
          docker run --detach --env SECRET_KEY=insecure_secret_key --network host anbox-cloud-io
          sleep 1
          curl --head --fail --retry-delay 1 --retry 30 --retry-connrefused http://localhost

  run-dotrun:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Dotrun
        run: |
          sudo pip3 install dotrun requests==2.31.0 # requests version is pinned to avoid breaking changes, can be removed once issue is resolved: https://github.com/docker/docker-py/issues/3256

      - name: Install dependencies
        run: |
          sudo chmod -R 0777 ../anbox-cloud.io
          dotrun install

      - name: Build assets
        run: dotrun build

      - name: Test site
        run: dotrun & curl --head --fail --retry-delay 1 --retry 30 --retry-connrefused http://localhost:8043

  lint-scss:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: yarn install --immutable

      - name: Lint scss
        run: yarn lint-scss

  lint-python:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install node dependencies
        run: yarn install --immutable

      - name: Install python dependencies
        run: |
          python3 -m pip install --upgrade pip
          sudo pip3 install flake8 black

      - name: Lint python
        run: yarn lint-python

  test-python:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install dotrun
        run: |
          sudo pip3 install dotrun requests==2.31.0 # requests version is pinned to avoid breaking changes, can be removed once issue is resolved: https://github.com/docker/docker-py/issues/3256

      - name: Install node dependencies
        run: |
          sudo chmod -R 0777 ../anbox-cloud.io
          dotrun install

      - name: Install dependencies
        run: dotrun exec pip3 install coverage

      - name: Build resources
        run: dotrun build

      - name: Run tests with coverage
        run: dotrun exec coverage run --source=. --module unittest discover tests

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          flags: python

  inclusive-naming-check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: woke
        uses: canonical-web-and-design/inclusive-naming@main
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          reporter: github-pr-check
          fail-on-error: true
